/* App.css */

.app-container {
  display: flex;
  height: 100vh;
  background-color: #e0f7fa; /* Fondo acorde al login */
}

.sidebar {
  width: 300px; /* Aumentado para mejorar la visibilidad */
  background-color: #004d40; /* Fondo verde oscuro como en login */
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  color: #ffffff; /* Texto blanco para contraste */
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 1rem 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #ffffff; /* Texto blanco */
  font-weight: bold;
}

.sidebar nav ul li button {
  background: none;
  border: none;
  color: #d9534f;
  cursor: pointer;
  font-weight: bold;
}

.main-content {
  flex: 1;
  padding: 2rem; /* Más espaciado para un diseño más aireado */
  overflow-y: auto;
  background-color: #ffffff; /* Fondo blanco para contraste */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
}



