/* components/Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #e8f5e9; /* Fondo verde claro */
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-btn {
  background-color: #004d40; /* Fondo verde oscuro */
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
}

.home-btn:hover {
  background-color: #00332b; /* Fondo verde más oscuro */
}
