/* PresenceStatus.css */

.presence-status-container {
  padding: 1rem;
  background-color: #004d40; /* Fondo verde oscuro */
  color: #ffffff; /* Texto blanco */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.presence-status-container h2 {
  margin-bottom: 1rem;
  color: #ffffff; /* Texto blanco */
}

.status-select {
  width: 100%; /* Ancho completo */
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ffffff; /* Borde blanco */
  background-color: #e0f7fa; /* Fondo acorde al resto del diseño */
  color: #004d40; /* Texto verde oscuro */
}

.status-select:focus {
  border-color: #00332b;
  outline: none;
}
